Component/JobInit/JobInit/Service References/ClientDetailsService/ClientService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientInfo" nillable="true" type="tns:ClientInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientInfo" nillable="true" type="tns:ArrayOfClientInfo" />
  <xs:complexType name="ClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPOCContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPOCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientInfo" nillable="true" type="tns:ClientInfo" />
  <xs:complexType name="ArrayOfAppInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppInfo" nillable="true" type="tns:AppInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppInfo" nillable="true" type="tns:ArrayOfAppInfo" />
  <xs:complexType name="AppInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationFiles" nillable="true" type="tns:ArrayOfApplicationFileInfo" />
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivalDays" type="xs:int" />
      <xs:element minOccurs="0" name="ArchiveFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileTransferSetting" type="xs:int" />
      <xs:element minOccurs="0" name="HotFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InputPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAppEndNotification" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAppStartNotification" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsArchive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBatch" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFileMove" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsStepEndNotification" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsStepStartNotification" type="xs:boolean" />
      <xs:element minOccurs="0" name="Modified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessingType" type="xs:int" />
      <xs:element minOccurs="0" name="SLA" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TempCleanupDays" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppInfo" nillable="true" type="tns:AppInfo" />
  <xs:complexType name="ArrayOfApplicationFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationFileInfo" nillable="true" type="tns:ApplicationFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationFileInfo" nillable="true" type="tns:ArrayOfApplicationFileInfo" />
  <xs:complexType name="ApplicationFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mask" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationFileInfo" nillable="true" type="tns:ApplicationFileInfo" />
  <xs:complexType name="ArrayOfErrorNotificationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorNotificationInfo" nillable="true" type="tns:ErrorNotificationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorNotificationInfo" nillable="true" type="tns:ArrayOfErrorNotificationInfo" />
  <xs:complexType name="ErrorNotificationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" type="xs:int" />
      <xs:element minOccurs="0" name="DistributionList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExclationCode" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorNotificationInfo" nillable="true" type="tns:ErrorNotificationInfo" />
  <xs:complexType name="RawFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunNumberId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RawFileInfo" nillable="true" type="tns:RawFileInfo" />
</xs:schema>