Component/JobInit/JobInit/Service References/ClientDetailsService/ClientDetailsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/ClientDetailsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" />
  <xs:import schemaLocation="http://localhost:8090/ClientDetailsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8090/ClientDetailsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataAccessService" />
  <xs:element name="GetEmailListbyCompId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
        <xs:element minOccurs="0" name="compId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailListbyCompIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetEmailListbyCompIdResult" nillable="true" type="q1:ArrayOfEmailConfigurationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetEmailTypeListResult" nillable="true" type="q2:ArrayOfEmailTypeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailSeverityList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailSeverityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetEmailSeverityListResult" nillable="true" type="q3:ArrayOfEmailSeverityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailListbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idList" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailListbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEmailListbyIdResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationSmtpList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationSmtpListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetApplicationSmtpListResult" nillable="true" type="q6:ArrayOfApplicationSmtpInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationSmtpbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationSmtpbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetApplicationSmtpbyIdResult" nillable="true" type="q7:ApplicationSmtpInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveApplicationSmtp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="info" nillable="true" type="q8:ApplicationSmtpInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveApplicationSmtpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveApplicationSmtpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRecordExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRecordExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRecordExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageSmtpDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="smtpDetailsInfo" nillable="true" type="q9:SmtpDetailsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageSmtpDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManageSmtpDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSmtpDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSmtpDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSmtpDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmtpDetailbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmtpDetailbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetSmtpDetailbyIdResult" nillable="true" type="q10:SmtpDetailsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSmtpDetail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSmtpDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetAllSmtpDetailResult" nillable="true" type="q11:ArrayOfSmtpDetailsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncodePasswordToBase64">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncodePasswordToBase64Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncodePasswordToBase64Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecodeFrom64">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encodedData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecodeFrom64Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecodeFrom64Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetActiveClientsResult" nillable="true" type="q12:ArrayOfClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInActiveClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInActiveClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetInActiveClientsResult" nillable="true" type="q13:ArrayOfClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetClientInfoResult" nillable="true" type="q14:ClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetAllClientsResult" nillable="true" type="q15:ArrayOfClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageClientDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="client" nillable="true" type="q16:ClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageClientDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManageClientDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClientDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAppDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetActiveApplicationsResult" nillable="true" type="q17:ArrayOfAppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetApplicationInfoResult" nillable="true" type="q18:AppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetAllApplicationsResult" nillable="true" type="q19:ArrayOfAppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplicationDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="appInfo" nillable="true" type="q20:AppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplicationDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddApplicationDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientActiveAppsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientActiveAppsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindClientActiveAppsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientApps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAppsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetClientAppsResult" nillable="true" type="q21:ArrayOfAppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInactiveApps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInactiveAppsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetClientInactiveAppsResult" nillable="true" type="q22:ArrayOfAppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsByKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsByKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetApplicationsByKeywordResult" nillable="true" type="q23:ArrayOfAppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileTransferSetting">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileTransferSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataAccessService" minOccurs="0" name="GetFileTransferSettingResult" nillable="true" type="q24:ArrayOfFileTransferSettingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFileTransferSettingInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataAccessService" minOccurs="0" name="fileTransferSettingInfo" nillable="true" type="q25:FileTransferSettingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFileTransferSettingInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFileTransferSettingInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupQueueType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupQueueTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DataAccessService" minOccurs="0" name="GetLookupQueueTypeResult" nillable="true" type="q26:ArrayOfLookup_QueueTypeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueTypeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueTypeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DataAccessService" minOccurs="0" name="GetQueueTypeInfoResult" nillable="true" type="q27:Lookup_QueueTypeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileTransferSettingInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileTransferSettingInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DataAccessService" minOccurs="0" name="GetFileTransferSettingInfoByIdResult" nillable="true" type="q28:FileTransferSettingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileTransferSettingInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileTransferSettingInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFileTransferSettingInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorNotification">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetAllErrorNotificationResult" nillable="true" type="q29:ArrayOfErrorNotificationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveErrorNotification">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveErrorNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetAllActiveErrorNotificationResult" nillable="true" type="q30:ArrayOfErrorNotificationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindErrorNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindErrorNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="FindErrorNotificationResult" nillable="true" type="q31:ErrorNotificationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveErrorNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="Dao" nillable="true" type="q32:ErrorNotificationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveErrorNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveErrorNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteErrorNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteErrorNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteErrorNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableErrorNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableErrorNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableErrorNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableErrorNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableErrorNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableErrorNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicationDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="appInfo" nillable="true" type="q33:AppInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicationDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApplicationDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRawFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="rawFile" nillable="true" type="q34:RawFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRawFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRawFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawFilesbyRunId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="runId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawFilesbyRunIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetRawFilesbyRunIdResult" nillable="true" type="q35:ArrayOfRawFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationFilesInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationFilesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetApplicationFilesInfoResult" nillable="true" type="q36:ArrayOfApplicationFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicationFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicationFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApplicationFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigDetailsByAppComponentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigDetailsByAppComponentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetConfigDetailsByAppComponentIdResult" nillable="true" type="q37:ArrayOfComponentConfigInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppOrCompName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appCompId" type="xs:int" />
        <xs:element minOccurs="0" name="appid" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppOrCompNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppOrCompNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigFileDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigFileDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetConfigFileDetailsResult" nillable="true" type="q38:ComponentConfigInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageConfigFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="info" nillable="true" type="q39:ComponentConfigInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageConfigFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManageConfigFilesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConfigurationFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConfigurationFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteConfigurationFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRunDetailsInfoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRunDetailsInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetRunDetailsInfoListResult" nillable="true" type="q40:ArrayOfRunDetailInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRunComponentStatusInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="runId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRunComponentStatusInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetRunComponentStatusInfoListResult" nillable="true" type="q41:ArrayOfRunComponentStatusInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentStatusList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetComponentStatusListResult" nillable="true" type="q42:ArrayOfRunComponentStatusInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentInfoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetComponentInfoListResult" nillable="true" type="q43:ArrayOfComponentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentListbyAppId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentListbyAppIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetComponentListbyAppIdResult" nillable="true" type="q44:ArrayOfComponentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArchivalDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArchivalDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetAllArchivalDetailsResult" nillable="true" type="q45:ArrayOfArchivalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableArchival">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableArchivalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableArchivalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivalInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetArchivalInfoResult" nillable="true" type="q46:ArchivalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableArchival">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableArchivalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableArchivalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageArchivalDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="archival" nillable="true" type="q47:ArchivalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageArchivalDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManageArchivalDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArchivalDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArchivalDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteArchivalDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableConfigFileDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableConfigFileDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableConfigFileDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableConfigFileDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableConfigFileDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableConfigFileDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageEDOcumentingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="source" nillable="true" type="q48:EDocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageEDOcumentingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManageEDOcumentingDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEDOcumentingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEDOcumentingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEDOcumentingDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableEDOcumenting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableEDOcumentingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableEDOcumentingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableEDOcumenting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableEDOcumentingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableEDOcumentingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputArchivebyAppId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputArchivebyAppIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetOutputArchivebyAppIdResult" nillable="true" type="q49:ArrayOfArchivalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOutputArchive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOutputArchiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetAllOutputArchiveResult" nillable="true" type="q50:ArrayOfArchivalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDOccumentSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDOccumentSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetEDOccumentSettingResult" nillable="true" type="q51:EDocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEDOcumentSetting">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEDOcumentSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetAllEDOcumentSettingResult" nillable="true" type="q52:ArrayOfEDocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGmcComponentbyAppCompId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compsId" type="xs:int" />
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGmcComponentbyAppCompIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetGmcComponentbyAppCompIdResult" nillable="true" type="q53:ArrayOfGmcCommandInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGmcCommandbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGmcCommandbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetGmcCommandbyIdResult" nillable="true" type="q54:GmcCommandInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGmcCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="info" nillable="true" type="q55:GmcCommandInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGmcCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveGmcCommandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagePrintPaperWorkDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="source" nillable="true" type="q56:PrintPaperWorkInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagePrintPaperWorkDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManagePrintPaperWorkDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrintPaperWorkDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrintPaperWorkDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePrintPaperWorkDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisablePrintPaperWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisablePrintPaperWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisablePrintPaperWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnablePrintPaperWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnablePrintPaperWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnablePrintPaperWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintPaperWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintPaperWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetPrintPaperWorkResult" nillable="true" type="q57:PrintPaperWorkInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrintPaperWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrintPaperWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetAllPrintPaperWorkResult" nillable="true" type="q58:ArrayOfPrintPaperWorkInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGmcSchenerio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGmcSchenerioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetAllGmcSchenerioResult" nillable="true" type="q59:ArrayOfGmcSchenerioInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageContactInfoDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="contactInfo" nillable="true" type="q60:ContactInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageContactInfoDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManageContactInfoDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteContactInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactInfoGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactInfoGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetContactInfoGroupResult" nillable="true" type="q61:ContactInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableContactInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableContactInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableContactInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableContactInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableContactInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableContactInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetAllContactInfoResult" nillable="true" type="q62:ArrayOfContactInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailInputOutputListbyAppId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailInputOutputListbyAppIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetEmailInputOutputListbyAppIdResult" nillable="true" type="q63:ArrayOfEmailConfigurationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailComponentListbyAppId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailComponentListbyAppIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetEmailComponentListbyAppIdResult" nillable="true" type="q64:ArrayOfEmailConfigurationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailConfigurationbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailConfigurationbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="GetEmailConfigurationbyIdResult" nillable="true" type="q65:EmailConfigurationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmailConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" minOccurs="0" name="info" nillable="true" type="q66:EmailConfigurationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmailConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEmailConfigurationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmailConfigurationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmailConfigurationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeEmailConfigurationStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRecorsExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
        <xs:element minOccurs="0" name="emailTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="emailSeverityId" type="xs:int" />
        <xs:element minOccurs="0" name="compId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRecorsExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRecorsExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>