Component/JobInit/JobInit/Service References/ProcSessionManagementService/ProcSessionManagementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProcSessionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcSessionInfo" nillable="true" type="tns:ProcSessionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcSessionInfo" nillable="true" type="tns:ArrayOfProcSessionInfo" />
  <xs:complexType name="ProcSessionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpectedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="KillRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcComponentID" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunningJobID" type="xs:int" />
      <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcSessionInfo" nillable="true" type="tns:ProcSessionInfo" />
</xs:schema>