Component/JobInit/JobInit/Service References/ProcSessionManagementService/ProcSessionManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcSessionManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/ProcSessionManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/ProcSessionManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/ProcSessionManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProcSessionManagementService_GetAllUnusedProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUnusedProcess" />
  </wsdl:message>
  <wsdl:message name="IProcSessionManagementService_GetAllUnusedProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUnusedProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IProcSessionManagementService_DeleteProcSession_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProcSession" />
  </wsdl:message>
  <wsdl:message name="IProcSessionManagementService_DeleteProcSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProcSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IProcSessionManagementService_UpdateBySessionKey_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBySessionKey" />
  </wsdl:message>
  <wsdl:message name="IProcSessionManagementService_UpdateBySessionKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBySessionKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="IProcSessionManagementService">
    <wsdl:operation name="GetAllUnusedProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcSessionManagementService/GetAllUnusedProcess" message="tns:IProcSessionManagementService_GetAllUnusedProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcSessionManagementService/GetAllUnusedProcessResponse" message="tns:IProcSessionManagementService_GetAllUnusedProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProcSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcSessionManagementService/DeleteProcSession" message="tns:IProcSessionManagementService_DeleteProcSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcSessionManagementService/DeleteProcSessionResponse" message="tns:IProcSessionManagementService_DeleteProcSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBySessionKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcSessionManagementService/UpdateBySessionKey" message="tns:IProcSessionManagementService_UpdateBySessionKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcSessionManagementService/UpdateBySessionKeyResponse" message="tns:IProcSessionManagementService_UpdateBySessionKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProcSessionManagementService" type="tns:IProcSessionManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUnusedProcess">
      <soap:operation soapAction="http://tempuri.org/IProcSessionManagementService/GetAllUnusedProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProcSession">
      <soap:operation soapAction="http://tempuri.org/IProcSessionManagementService/DeleteProcSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBySessionKey">
      <soap:operation soapAction="http://tempuri.org/IProcSessionManagementService/UpdateBySessionKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcSessionManagementService">
    <wsdl:port name="BasicHttpBinding_IProcSessionManagementService" binding="tns:BasicHttpBinding_IProcSessionManagementService">
      <soap:address location="http://localhost:8090/ProcSessionManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>