Component/JobInit/JobInit/Service References/JobManagementService/JobManagementService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLW.DataAccessService.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RunDetailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RunDetailInfo" nillable="true" type="tns:RunDetailInfo" />
</xs:schema>