Component/JobInit/JobInit/Service References/DataAccessService/DataAccessService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/DataAccessService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataAccessService" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataAccessService" minOccurs="0" name="LoginResult" nillable="true" type="q1:UserLoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoggedInUserCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoggedInUserCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoggedInUserCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>