Component/JobInit/JobInit/Service References/DataAccessService/DataAccessService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccessService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccessService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserLoginInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsLoggedIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLoginInfo" nillable="true" type="tns:UserLoginInfo" />
</xs:schema>